[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
opencv-python = "*"
scipy = "*"
pillow = "*"
numpy = "*"
opencv-python-headless = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "2.7"
